@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

:root     /*  by default use font size & colour */
{
    --green : green;
    --black : #130f40;
    --light-color:#666;
    --box-sadow : 0.1rem 1rem rgba(0,0,0.1);
    --border :   2rem solid rgba(0,0,0.1);
    --outline :   .1rem solid rgba(0,0,0.1);
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html
{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background: #eee;
}

.header
{
    border: 0px solid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    /*box-shadow: var(--box-sadow);*/
}

.btn
{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border: .2rem  solid var(--black);
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover
{
    background: var(--green);
    color: #fff;
}

.header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i
{
    color: var(--green);
}

.header .navbar a
{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover
{
    color: var(--green);
}

.header .icons div
{
    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius:.5 ;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-right:.3rem ;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover
{
    background :var(--green);
    color: #fff;

}

#menu-btn
{
    display: none;
}

.header .navbar.active
{
    right: 2rem;
    transition: .4s linear;
}


.header .search-form
{
    border: 1px solid;
    position: absolute;
    right: -110%;
    top: 120%;
    width: 50rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem ;
    display: flex;
    overflow: hidden;
    align-items: center;
    

}

.header .search-form.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--black);
    padding: 0  1.4rem;
}

.header .search-form label
{
    font-size: 2.4rem;
    padding-right: 1.4rem ;
    color: var(--black);
    cursor: pointer;
    
    
}


.header .search-form label:hover
{
    color:var(--green);
}



.header .shopping-cart
{
    border: 1px solid;
    position: absolute;
    top:120%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    width: 30rem;
    background: #fff;
}

.header .shopping-cart.active
{
    right: 2rem;
    transition: .4s linear;
}


.header .shopping-cart .box
{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}    


.header .shopping-cart .box img
{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash
{
    font-size: 2rem;
    position: absolute;
    top: 68%;
    right: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover
{
    color: var(--green);
}

.header .shopping-cart .box .content h3
{
    color: var(--black);
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span
{
    color: var(--light-colour);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity
{
    padding-left: .5rem;
}

.header .shopping-cart .total
{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

header .shopping-cart .btn
{
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.login-form
{
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 2rem;
    border-radius: .5rem;
    background:#fff;
    text-align: center;
    width: 30rem;
}

.header .login-form.active
{
    right: 2rem;
    transform: .4s linear;
}

.header .login-form h3
{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}


.header .login-form .box
{
    border: 0px solid;
    margin: .8rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}


.header .login-form p
{
    font-size: 1.3rem;
    padding: .5rem 0;
    color: var(--black);
}

.header .login-form p a
{
    font-size: 1.3rem;
    padding: .5rem 0;
    color: var(--green);
    text-decoration: underline;
    font-style: bolder;
}

.header .login-form p a:hover
{
    color: var(--green);
}













/*Responsive For mobile Using media query*/

@media (max-width:991px)
{
    html
    {
        font-size: 55%;
       
    }
    .header
    {
        padding: 2rem;
    }
}


@media (max-width:768px)
{
    #menu-btn
    {
        display: inline-block;
    }

    .header .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar a
    {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width:450px)
{
    html
    {
        font-size: 50%;
       
    }
}