@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

:root     /*  by default use font size & colour */
{
    --green : green;
    --black : #130f40;
    --light-color:#666;
    --box-sadow : 0.1rem 1rem rgba(0,0,0.1);
    --border :   2rem solid rgba(0,0,0.1);
    --outline :   .1rem solid rgba(0,0,0.1);
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html
{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background: #eee;
}

.header
{
    border: 0px solid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    /*box-shadow: var(--box-sadow);*/
}

.header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i
{
    color: var(--green);
}

.header .navbar a
{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover
{
    color: var(--green);
}

.header .icons div
{
    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius:.5 ;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-right:.3rem ;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover
{
    background :var(--green);
    color: #fff;

}

#menu-btn
{
    display: none;
}


.header .search-form
{
    border: 1px solid;
    position: absolute;
    right: 2rem;
    top: 120%;
    width: 50rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem ;
    display: flex;
    overflow: hidden;
    align-items: center;
    

}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--black);
    padding: 0  1.4rem;
}

.header .search-form label
{
    font-size: 2.4rem;
    padding-right: 1.4rem ;
    color: var(--black);
    cursor: pointer;
}
